* {
    margin: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#video-player {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

#video-container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(42, 85, 85, 0.7);
    z-index: 1;
}

#content {
    height: auto;
    width: 100%;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 2;
    padding: 20px;
}

#content::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: -1;
}

#content>div {
    max-width: auto;
}

#content>div>* {
    margin-block: 0.5em;
}

#content h1 {
    font-style: italic;
}

#content p {
    max-width: 40ch;
    line-height: 1.5;
    font-size: 1.2rem;
}

#content input,
#content button {
    padding: 1rem;
    font-size: 0.9rem;
    margin-right: 0.85rem;
    border-radius: 4px;
    outline: none;
    border: 0;
}

#form-fields {
    margin-top: 2em !important;
    display: flex;
    justify-content: space-between;
}

#content input {
    width: 100%;
}

#content button {
    background-color: rgb(22, 58, 58);
    color: #aaa;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}

#socials {
    position: relative;
    z-index: 2;
    text-align: center;
}

#socials ul {
    list-style: none;
    padding: 0;
}

#socials li {
    display: inline-block;
    padding: 1.4rem 1.6rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border-radius: 50%;
}

#socials li:nth-child(2) {
    padding-inline: 1.8rem;
}

.fa-facebook {
    position: relative;
    left: 0px
}

@media screen and (min-width: 992px) {
    #content {
        height: 100vh;
        width: 65vw;
        font-size: 1.5rem;
    }
    #content::before {
        transform: skewX(-9deg);
        transform-origin: top right;
    }
    #content>div {
        max-width: 40rem;
    }
    #content h1 {
        max-width: 400px
    }
    #socials {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 200px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #socials li {
        display: block;
        margin: 2rem;
        padding: 1.4rem 1.6rem;
    }
    .fa-facebook {
        left: 2px
    }
}

@media screen and (max-width: 992px) {
    #content {
        padding-block: 3rem;
    }
}

@media screen and (max-width: 320px) {
    #socials li {
        padding: 1rem 1.2rem;
        margin: 0.5rem;
    }
    #socials li:nth-child(2) {
        padding-inline: 1.4rem;
    }
}