*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    display: block;
}

body {
    font-family: 'Rubik', sans-serif;
}

header {
    background: url('assets/images/simple-codelines.svg'), #2b3137;
    background-position: center;
    background-size: cover;
    min-height: 40vh;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #ebedf2;
}

#footer-1 {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    border-bottom: 1px solid #ccc;
    gap: 4.3em;
}

#footer-1 h5 {
    margin-bottom: 8px;
    color: #444;
}

#footer-1 ul {
    list-style: none;
    padding: 0;
}

#footer-1 ul li {
    margin: 8px 0;
    font-size: 13px;
    font-weight: bold;
    color: #777;
}

#footer-1 ul li:first-child {
    margin-top: 0;
}

#footer-2 {}

#footer-2 ul {
    list-style: none;
    padding: 40px 0;
    padding-top: 20px;
}

#footer-2 ul li {
    margin: 0px;
    margin-right: 16px;
    margin-left: 4px;
    font-size: 22px;
    color: #666;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    #footer-1 {
        padding: 2em 0;
        gap: 2.3em;
    }
}

@media screen and (max-width: 500px) {
    #sec-4 {
        padding: 2em;
        background: #151516;
    }
    #sec-4 div {
        border: 3px solid #13cc70;
        border-radius: 8px;
        text-align: center;
        margin: 0 auto;
        padding-block: 5em;
        padding-inline: 20px;
        color: #ddd;
    }
    #sec-4 p {
        color: #13cc70;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.5px;
        max-width: 700px;
        margin: 0 auto;
    }
    #sec-4 p:nth-child(3) {
        font-size: 18px;
    }
    #sec-4 h1 {
        font-size: 40px;
        margin: 15px 0 20px 0;
    }
    #sec-4 h6 {
        font-size: 8px;
        margin: 2.2em 0;
    }
    #sec-5 {
        min-height: 550px;
        padding: 0 20px;
    }
    #sec-5 h1 {
        font-size: 40px;
    }
    #sec-5 p {
        font-size: 20px;
        line-height: 1.6;
    }
    #sec-5 h6 {
        font-size: 10px;
    }
    #sec-5 ul li {
        padding: 23px;
    }
    footer {
        display: block;
        padding: 0 30px;
    }
    #footer-1 {
        justify-content: flex-start;
        flex-direction: column;
        gap: 1.3em;
        flex-wrap: wrap;
    }
}