*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, rgba(31, 38, 46, 0.9), rgba(31, 38, 46, 0.9)), url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    font-family: 'Merriweather', Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-family: "Source Sans Pro", Helvetica, sans-serif;
}

span {
    border-bottom: 1px dashed #777;
}

header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container {
    transform: translateY(-15vh);
    text-align: center;
    color: #fff;
}

.container h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    letter-spacing: 5px;
    line-height: 1;
}

.container p {
    margin: 20px auto;
    line-height: 2;
    font-size: 1.1rem;
    font-style: italic;
}

.container a {
    color: inherit;
}

.container i {
    font-size: 18px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.container i:hover {
    animation: changeColor 1s ease-in-out forwards;
}

@keyframes changeColor {
    0% {}
    20% {
        border-color: aqua;
    }
    60%,
    100% {
        border-color: aqua;
        color: aqua;
    }
}

section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -50px;
    width: 100%;
}

#open-menu {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}

#open-menu i {
    margin-right: 5px;
}

#close-menu {
    text-align: right;
    color: #777;
    margin-top: 15px;
    margin-right: 20px;
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    font-size: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 20px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

nav li.active {
    background-color: #fff;
    color: #333;
}

.nav-social-icons {
    margin-right: 10px;
}

.nav-social-icons i {
    margin-right: 15px;
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
}

.spacing {
    padding: 0 2em;
}

.buttons-class {
    outline: none;
    border: 2px solid #000;
    padding: 13px 25px;
    margin: 2.5em 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}

main {
    background: #fff;
}


/* Parent-Box */

.parent-box {
    padding: 4em 6em;
    margin: 0 auto;
    text-align: center;
}

.parent-box-date {
    position: relative;
    z-index: 0;
    margin: 2em auto;
}

.parent-box-date::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #eee;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
}

.parent-box-date::after {
    min-width: 170px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.parent-box-title {
    font-size: 70px;
    font-weight: bold;
    margin: 1em auto;
    text-transform: uppercase;
    margin-bottom: 0;
}

.parent-box-para {
    max-width: 490px;
    margin: 2em auto;
    margin-bottom: 3em;
    line-height: 2;
    font-style: italic;
    font-size: 17px;
}

.parent-box-image {
    margin-bottom: 20px;
}

.parent-box-image img {
    width: 100%;
    display: block;
}


/* Child Boxes */

.child-classes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.child-boxes {
    border: 1px solid #eee;
    padding: 3em;
    border-collapse: collapse;
    text-align: center;
    padding-bottom: 1.2em;
}

.child-boxes-date {
    color: #444;
    margin-bottom: 1em;
}

.child-boxes-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
}

.child-boxes-image {
    margin: 2em auto;
}

.child-boxes-image img {
    display: block;
    width: 100%;
}

.child-boxes-para {
    text-align: left;
    line-height: 2;
    font-size: 1.1rem;
    color: #444;
}


/* Pagination */

.pagination {
    margin: 4em auto;
    text-align: center;
}

.pagination span {
    padding: 15px 20px;
    border: 1px solid #eee;
    border-collapse: collapse;
    border-right: 0;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.pagination span:last-child {
    border-right: 1px solid #eee;
}

.pagination span.active {
    background-color: #eee;
}


/* Form Footer Section */

#contact {
    display: flex;
    flex: 1 1;
    background-color: #eee;
    align-items: center;
}

#contact>div {
    flex-basis: 100%;
}

#form_contact {
    /* padding-right: 10px; */
    padding-block: 3.6em;
    border-right: 1px solid #ccc;
}

#form_contact.spacing {
    padding-inline: 3.8em;
}

#form_contact form {
    padding-right: 10px;
}

#form_contact form label {
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
}

#form_contact form input,
#form_contact form textarea {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 1px;
    outline: none;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 45px;
    font-size: 15px;
    text-indent: 10px;
}

#form_contact form textarea {
    min-height: 130px;
    resize: vertical;
}

#form_contact .buttons-class {
    margin: 0;
    border-color: #555;
    color: #666;
}

#contact_details>div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: flex-start;
    padding: 2em 3em;
}

#contact_details>div>div:first-child {
    min-width: 80px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

#contact_details>div>div:last-child {
    color: #888;
}

#contact_details>div {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#contact_details>div:last-child {
    border-bottom: 0;
}

#contact_details i {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #777;
    margin-right: 8px;
    position: relative;
    top: -8px;
}

#contact_details i.fa-facebook {
    padding-inline: 0.7em;
}

footer {
    color: #777;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
}

@media screen and (max-width: 620px) {
    .container h1 {
        font-size: 40px;
    }
    #open-menu,
    #close-menu {
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        display: block;
        height: 100%;
        background-color: #fff;
        min-width: 250px;
        z-index: 10000;
    }
    nav.active {
        transform: translateX(0);
    }
    nav li {
        display: block;
        color: #000;
        border-bottom: 1px solid #eee;
    }
    nav li:last-child {
        border-bottom: 0;
    }
    nav li.active {
        background-color: #fff;
        color: #333;
    }
    .nav-social-icons {
        margin-right: 0;
        margin-left: 20px;
    }
    .nav-social-icons i {
        margin-right: 5px;
        margin-top: 15px;
        color: #333;
        font-size: 14px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 50%;
    }
    .nav-social-icons i.fa-facebook {
        padding-inline: 1em;
    }
    .parent-box {
        padding: 4em 3em;
    }
    .parent-box-title {
        font-size: 40px;
        margin: 1em auto;
        margin-bottom: 0;
    }
    .child-classes {
        display: grid;
        grid-template-columns: 1fr;
    }
    .child-boxes {
        border: 1px solid #eee;
        border-left: 0;
        border-right: 0;
    }
    .pagination span {
        display: none
    }
    #contact {
        display: block;
    }
}

@media screen and (max-width: 360px) {
    #contact_details i {
        top: 0px;
    }
}